<div class="input-field col s12">
  <%= f.text_field :name, autofocus: true, validate: true, class: "validate" %>
  <%= f.label :name %>
  <span class="helper-text" data-error=""></span>
</div>
<div class="input-field col s12">
  <%= f.text_field :quantity, validate: { presence: true }, class: "validate"%>
  <%= f.label :quantity %>
  <span class="helper-text" data-error="" ></span>
</div>
<div class="input-field col s12">
  <%= f.number_field :price, validate: { presence: true }, class: "validate"%>
  <%= f.label :price %>
  <span class="helper-text" data-error="" ></span>
</div>