<div class="row">
  <div class="col s9">
    <h3>Menu Items</h3>
  </div>
  <div class="col s3 right-align">
    <%= link_to new_menu_path, class: "btn-floating btn-large waves-effect waves-light red margin-top-15" do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>
<table class="responsive-table centered">
  <thead>
    <tr>
        <th>Item Number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Availabe Quantity</th>
        <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each_with_index do |menu, index|%>
      <tr>
        <td><%= params[:page].present? ? (((params[:page].to_i - 1) * Menu.per_page)  + index + 1) : index + 1 %></td>
        <td><%= menu.name %></td>
        <td>$<%= menu.price %></td>
        <td><%= menu.quantity %></td>
        <td><%= menu.available_quantity %></td>
        <td>
          <%= link_to edit_menu_path(menu) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to menu_path(menu, page: params[:page]), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="material-icons">delete</i>
          <% end %>  
        </td>
      </tr>
    <%end%>    
  </tbody>
  <tfoot>
    <tr>
      <th colspan="6">
        <ul class="pagination right-align">
          <% if @menus_count > 0 %>
            <% if !params[:page].present? || (params[:page].present? && params[:page].to_i == 1) %>
              <li class="disabled"><a href="javascript:void(0)"><i class="material-icons">chevron_left</i></a></li>
            <% else %>
              <li class="waves-effect"><a href="/menus?page=<%= params[:page].to_i - 1 %>"><i class="material-icons">chevron_left</i></a></li>
            <% end %>
            <% (1..(@menus_count)).each do |menu| %>
              <li class="<%= ((params[:page].nil? && menu == 1) || params[:page].to_i == menu) ? 'active blue' : 'waves-effect'%>"><a href='<%= ((params[:page].nil? && menu == 1) || params[:page].to_i == menu) ? "javascript:void(0)" : "/menus?page=#{menu}" %>'><%= menu %></a></li>
            <% end %>
            <% if (params[:page].present? && params[:page].to_i == (@menus_count)) %>
              <li class="disabled"><a href="javascript:void(0)"><i class="material-icons">chevron_right</i></a></li>
            <% else %>  
              <li class="waves-effect"><a href="/menus?page=<%= params[:page].to_i + 1 %>"><i class="material-icons">chevron_right</i></a></li>
            <% end %>
          <% end %>
        </ul>
      </th>
    </tr>
  </tfoot>
</table> 