<div class="card-panel login-card">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "col s12",validate: true) do |f| %>
    <div class="col s12">
      <%= devise_error_messages! %>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <%= f.email_field :email, autofocus: true, validate: true, autocomplete: "email", class: "validate" %>
          <%= f.label :email %>
          <span class="helper-text" data-error=""></span>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.password_field :password, validate: { presence: true }, autocomplete: "off", class: "validate"%>
          <%= f.label :password %>
          <span class="helper-text" data-error="" ></span>
        </div>
        <div class="input-field col s12">
          <button type="submit" name="commit" value="Login" class="waves-effect waves-light btn col s12" data-disable-with="Login">Login</bottun>
        </div>
        <%= render "users/shared/links" %>
      </div>
    </div>
    <% end %>
  </div>
</div>