<%= f.hidden_field :role_id, value: 2 %>
<div class="input-field col s12">
  <i class="material-icons prefix">person_outline</i>
  <%= f.text_field :first_name, validate: true, autocomplete: "first_name" %>
  <%= f.label :first_name %>
  <span class="helper-text" data-error=""></span>
</div>

<div class="input-field col s12">
  <i class="material-icons prefix">person_outline</i>
  <%= f.text_field :last_name, autocomplete: "last_name" %>
  <%= f.label :last_name %>
  <span class="helper-text" data-error=""></span>
</div>
<div class="input-field col s12">
  <i class="material-icons prefix">email</i>
  <%= f.email_field :email, validate: true, autocomplete: "email", class: "validate" %>
  <%= f.label :email %>
  <span class="helper-text" data-error=""></span>
</div>
<div class="input-field col s12">
  <i class="material-icons prefix">lock_outline</i>
  <%= f.password_field :password, validate: { presence: true, length: true }, autocomplete: "off" ,class: "validate"%>
  <%= f.label :password %>
  <span class="helper-text" data-error="" ><% if @minimum_password_length %><em>(<%= @minimum_password_length %> characters minimum)</em><% end %></span>
</div>
<div class="input-field col s12">
  <i class="material-icons prefix">lock_outline</i>
  <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "validate"%>
  <%= f.label :password_confirmation %>
  <span class="helper-text" data-error="" ></span>
</div>
<div class="input-field col s12">
  <i class="material-icons prefix">attach_money</i>
  <%= f.number_field :pay_scale ,class: "validate"%>
  <%= f.label :pay_scale %>
  <span class="helper-text" data-error="" ></span>
</div>