<div class="row">
  <div class="col s9">
    <h3>Sales Users</h3>
  </div>
  <div class="col s3 right-align">
    <%= link_to new_sales_user_path, class: "btn-floating btn-large waves-effect waves-light red margin-top-15" do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>
<table class="responsive-table centered">
  <thead>
    <tr>
        <th>Sr. No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index|%>
      <tr>
        <td><%= params[:page].present? ? (((params[:page].to_i - 1) * User.per_page)  + index + 1) : index + 1 %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to edit_sales_user_path(user) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to sales_user_path(user, page: params[:page]), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="material-icons">delete</i>
          <% end %>  
        </td>
      </tr>
    <%end%>    
  </tbody>
  <tfoot>
    <tr>
      <th colspan="6">
        <ul class="pagination right-align">
          <% if @users_count > 0 %>
            <% if !params[:page].present? || (params[:page].present? && params[:page].to_i == 1) %>
              <li class="disabled"><a href="javascript:void(0)"><i class="material-icons">chevron_left</i></a></li>
            <% else %>
              <li class="waves-effect"><a href="/sales_users?page=<%= params[:page].to_i - 1 %>"><i class="material-icons">chevron_left</i></a></li>
            <% end %>
            <% (1..(@users_count)).each do |user| %>
              <li class="<%= ((params[:page].nil? && user == 1) || params[:page].to_i == user) ? 'active blue' : 'waves-effect'%>"><a href='<%= ((params[:page].nil? && user == 1) || params[:page].to_i == user) ? "javascript:void(0)" : "/sales_users?page=#{user}" %>'><%= user %></a></li>
            <% end %>
            <% if (params[:page].present? && params[:page].to_i == (@users_count)) %>
              <li class="disabled"><a href="javascript:void(0)"><i class="material-icons">chevron_right</i></a></li>
            <% else %>  
              <li class="waves-effect"><a href="/sales_users?page=<%= params[:page].to_i + 1 %>"><i class="material-icons">chevron_right</i></a></li>
            <% end %>
          <% end %>
        </ul>
      </th>
    </tr>
  </tfoot>
</table> 