<div class="card-panel">
  <div class="row">
    <div class="col s9">
      <h4>Add Sales User</h4>
    </div>
  </div>
  <div class="row">
    <%= form_for(@user, url: sales_users_path(), class: "col s12", validate: true) do |f| %>
      <div class="row">
        <%= render "form", f: f %>
        <div class="input-field col s12">
          <button type="submit" name="commit" value="Add Sales User" class="waves-effect waves-light btn col s12" data-disable-with="Add Sales User">Add Sales User</bottun>
        </div>
      </div>
    <% end %>
  </div>
</div>