<div class="input-field col s12">
  <%= f.text_field :customer_name, autofocus: true, validate: true, class: "validate" %>
  <%= f.label :customer_name %>
  <span class="helper-text" data-error=""></span>
</div>
<div class="input-field col s12">
  <%= f.text_field :customer_ph_number, validate: { presence: true }, class: "validate"%>
  <%= f.label :customer_ph_number %>
  <span class="helper-text" data-error="" ></span>
</div>
<div class="input-field col s12">
  <div class="col s9">
    <%= hidden_field_tag "item_menu_ids[]", "", id: "item_menu_ids" %>
    <%= f.hidden_field :price %>
    <%= f.hidden_field :number_of_items %>
    <%= f.hidden_field :tax_amount %>
    <%= select_tag "menu", options_from_collection_for_select(@menus, "id", "name"), id: "menu_items" %>
  </div>
  <div class="col s3">
    <%= link_to "Add Item", "javascript:void(0)", class: "btn add_order_items" %>
  </div>
</div>
<table class="responsive-table hide" id="items_table">
  <thead>
    <tr>
      <th style="width: 5%;"></th>
      <th style="width: 20%;">Item</th>
      <th style="width: 15%;">Availabe Quantity</th>
      <th style="width: 15%;">Price</th>
      <th style="width: 15%;">Tax</th>
      <th style="width: 15%;">Total Price</th>
      <th style="width: 15%;">Quantity</th>
    </tr>
  </thead>
  <tbody class="append_order_items">
    
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th>Total</th>
      <th id="final_price"></th>
      <th id="final_tax"></th>
      <th id="final_total_price"></th>
      <th id="final_number_of_items"></th>
    </tr>
  </tfoot>
</table>