<% @orders.each_with_index do |order, index|%>
  <tr>
    <td><%#= params[:page].present? ? (((params[:page].to_i - 1) * Menu.per_page)  + index + 1) : index + 1 %> <%= index + 1 %></td>
    <td><%= order.customer_name %></td>
    <td><%= order.customer_ph_number %></td>
    <td><%= order.number_of_items %></td>
    <td>$<%= order.price %></td>
    <td>$<%= order.tax_amount %></td>
    <td>
    	<%= link_to order_path(order) do %>
        <i class="material-icons">pageview</i>
      <% end %>
    </td>
  </tr>
<%end%> 