$("#filter_data_body").html("<%= escape_javascript(render partial: 'index', locals: { orders: @orders } ) %>");
$("#price_information").html("<%= escape_javascript(render partial: 'price_information', locals: { total_items: @total_items, total_price: @total_price } ) %>");
var active = document.querySelector("#price_information");
active.classList.remove("hide");
