<div class="row">
  <div class="col s9">
    <h3>Order List</h3>
  </div>
  <% if current_user.role.name == "Sales" %>
    <div class="col s3 right-align">
      <%= link_to new_order_path, class: "btn-floating btn-large waves-effect waves-light red margin-top-15" do %>
        <i class="material-icons">add</i>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <%= form_tag("/orders/filter_data", method: 'post', remote: true ) do %>
    <div class="input-field col s6 <%= current_user.role.name == 'Manager' ? 'm3' : 'm4'%>">
      <%= text_field_tag 'start_date', Date.today.strftime("%b %d, %Y"), class: "datepicker validate" %>
      <span class="helper-text" data-error=""></span>
    </div>

    <div class="input-field col s6 <%= current_user.role.name == 'Manager' ? 'm3' : 'm4'%>">
      <%= text_field_tag 'end_date', Date.today.strftime("%b %d, %Y"), class: "datepicker validate" %>
      <span class="helper-text" data-error=""></span>
    </div>

    <%- if current_user.role.name == "Manager" %>
      <div class="input-field col s6 m3">
        <%= select_tag "sales_user", options_from_collection_for_select(@sales_persons, "id", "full_name") %>
        <%#= text_field_tag 'start_date', Date.today, class: "validate" %>
        <span class="helper-text" data-error=""></span>
      </div>
    <% end %>

    <div class="input-field col s6 <%= current_user.role.name == 'Manager' ? 'm3' : 'm4'%>">
      <%= submit_tag "Filter", class: "waves-effect waves-light btn col s12" %>
      <span class="helper-text" data-error=""></span>
    </div>
  <% end%>
</div>
<table class="responsive-table centered margin-bottom-20">
  <thead>
    <tr>
        <th>Order Number</th>
        <th>Customer Name</th>
        <th>Customer Ph.</th>
        <th>Number of Items</th>
        <th>Price</th>
        <th>Tax</th>
        <th>Actions</th>
    </tr>
  </thead>

  <tbody id="filter_data_body">
    <%= render partial: "index", locals: {orders: @orders}%>   
  </tbody>
</table>

<div class="row" id="price_information">
  <%= render partial: "price_information", locals: {total_items: @total_items, total_price: @total_price}%>
</div>