<div class="card-panel">
  <div class="row">
    <div class="col s9">
      <h4>Add an Order</h4>
    </div>
  </div>
  <div class="row">
    <%= form_for(@order, url: orders_path(), class: "col s12", validate: true) do |f| %>
      <div class="row">
        <%= render "form", f: f %>
        <div class="input-field col s12">
          <button type="submit" name="commit" value="Create Order" class="waves-effect waves-light btn col s12" data-disable-with="Create Order">Create Order</bottun>
        </div>
      </div>
    <% end %>
  </div>
</div>