<div class="row">
  <div class="col s9">
    <h3>Order Details</h3>
  </div>
  <% if current_user.role.name == "Sales" %>
    <div class="col s3 right-align">
      <%= link_to new_order_path, class: "btn-floating btn-large waves-effect waves-light red margin-top-15" do %>
        <i class="material-icons">add</i>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <h5>Customer Name: <%=@order.customer_name%> </h5>
        <h5>Phone Number: <%=@order.customer_ph_number%> </h5><br />
        <h6>Item Lists:</h6>
        <table class="responsive-table centered margin-bottom-20">
          <thead>
            <tr>
                <th>Item Number</th>
                <th>Item</th>
                <th>Number of Items</th>
                <th>Price</th>
                <th>Tax</th>
            </tr>
          </thead>

          <tbody>
            <% @order.menu_orders.each_with_index do |menu_order, index|%>
              <tr>
                <%- price = menu_order.price.present? ? menu_order.price : menu_order.menu.try(:price).to_f * menu_order.item_quantity %>
                <%- tax = price/10 %>
                <%- total_price = price + tax %>
                <td><%= index + 1 %></td>
                <td><%= menu_order.menu.try(:name) %></td>
                <td><%= menu_order.item_quantity %></td>
                <td>$<%= total_price %></td>
                <td>$<%= tax %></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td>Total</td>
              <td><%= @order.number_of_items %></td>
              <td>$<%= @order.price %></td>
              <td>$<%= @order.tax_amount %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" id="price_information">
  <%#= render partial: "price_information", locals: {total_items: @total_items, total_price: @total_price}%>
</div>