<div class="card-panel login-card">
  <div class="row">
    <h5>Change your password</h5>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "col s12", validate: true) do |f| %>
    <div class="col s12">
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.password_field :password, validate: { presence: true, length: true }, autocomplete: "off", class: "validate"%>
          <%= f.label :password %>
          <span class="helper-text" data-error="" ><% if @minimum_password_length %><em>(<%= @minimum_password_length %> characters minimum)</em><% end %></span>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "validate"%>
          <%= f.label :password_confirmation %>
          <span class="helper-text" data-error="" ></span>
        </div>
        <div class="input-field col s12">
          <button type="submit" name="commit" value="Login" class="waves-effect waves-light btn col s12" data-disable-with="Update Password">Update password</bottun>
        </div>
        <%= render "users/shared/links" %>
      </div>
    </div>
    <% end %>
  </div>
</div>