<div class="card-panel login-card">
  <div class="row">
  	<h5>Forgot your Password</h5>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "col s12",validate: true) do |f| %>
    <div class="col s12">
      <%= devise_error_messages! %>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <%= f.email_field :email, autofocus: true, validate: true, autocomplete: "email", class: "validate" %>
          <%= f.label :email %>
          <span class="helper-text" data-error=""></span>
        </div>
        <div class="input-field col s12">
          <button type="submit" name="commit" value="Login" class="waves-effect waves-light btn col s12" data-disable-with="Forgot Password">Send password instructions</bottun>
        </div>
        <%= render "users/shared/links" %>
      </div>
    </div>
    <% end %>
  </div>
</div>