/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.logo-height {
  height: 65px;
}
.nav-container {
	width: 90%;
	margin: auto;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.btn-danger {
	background-color: #d50000 !important;
}
.btn-danger .waves-button-input {
	color: white;
}