<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper nav-container">
    <%= link_to root_path, class: "logo-container" do %>
      <%= image_tag("coffee-shop-logo.png", class: "logo-height") %>
    <% end %>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li>
          <%= link_to "Order", orders_path, class:"navbar-item" %>
        </li>
        <% if current_user.role.name == "Manager" %>
          <li>
            <%= link_to "Menu", menus_path, class:"navbar-item" %>
          </li>
          <li>
            <%= link_to "Sales Users", sales_users_path, class:"navbar-item" %>
          </li>
          <% end %>
        <li>
          <%= link_to current_user.full_name, edit_user_registration_path, class:"navbar-item" %>
        </li>
        <li>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
        </li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>