<div class="card-panel">
  <div class="row">
    <div class="col s9">
      <h4>Edit <%= resource_name.to_s.humanize %></h4>
    </div>
  </div>
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "col s12", validate: true) do |f| %>
      <%= devise_error_messages! %>
        <div class="input-field col s12">
          <i class="material-icons prefix">person_outline</i>
          <%= f.text_field :first_name, validate: true, autocomplete: "first_name" %>
          <%= f.label :first_name %>
          <span class="helper-text" data-error=""></span>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">person_outline</i>
          <%= f.text_field :last_name, autocomplete: "last_name" %>
          <%= f.label :last_name %>
          <span class="helper-text" data-error=""></span>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "validate" %>
          <%= f.label :email %>
          <span class="helper-text" data-error=""></span>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.password_field :password, autocomplete: "off", class: "validate" %>
          <%= f.label :password %>
          <span class="helper-text" data-error="" ><i>(leave blank if you don't want to change it) </i><% if @minimum_password_length %><em><%= @minimum_password_length %> characters minimum</em><% end %></span>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate" %>
          <%= f.label :password_confirmation %>
          <span class="helper-text" data-error="" ></span>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.password_field :current_password, autocomplete: "off", class: "validate" %>
          <%= f.label :current_password %>
          <span class="helper-text" data-error="" ><i>(we need your current password to confirm your changes)</i></span>
        </div>
      
        <div class="input-field col s12 m6">
          <button type="submit" name="commit" value="Update" class="waves-effect waves-light btn col s12" data-disable-with="Update">Update</bottun>
        </div>
      
        <div class="input-field col s12 m6">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "waves-effect waves-light btn btn-danger col s12 btn-danger text-white" %>
        </div>
      </div>
    <% end %>
  </div>
</div>